@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: theme('colors.background');
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* Toast Styles */
.toast {
  background: white !important;
  color: #374151 !important;
  border: 1px solid #E5E7EB !important;
}

.toast [data-type="success"] {
  --toast-icon-color: #059669 !important;
}

.toast [data-type="error"] {
  --toast-icon-color: #DC2626 !important;
}

.toast [data-type="success"] [data-icon] {
  color: #059669 !important;
}

.toast [data-type="error"] [data-icon] {
  color: #DC2626 !important;
}
